* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #cbd5e1;
  font-weight: bold;
  color: rgb(199, 173, 178);

  font-size: 1.5rem;
}
.content {
  background-color: #374151;
  width: 25rem;
  height: 20rem;
  margin: 5rem auto;
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
label {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 0.5rem;

  border: 1px dashed rgb(164, 159, 159);
  background-color: #d1d5db;
  margin: 0.5rem;
  border-radius: 0.3rem;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border: 1px solid #d1fae5;
  padding: 0.5rem;
  background-color: #c4b5fd;
}
input[type="submit"] {
  background-color: #21539f;
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px dashed rgb(164, 159, 159);
}
input[type="submit"]:focus {
  outline: none;
  border: 1px solid #d1fae5;
  padding: 0.5rem;
  background-color: rgb(199, 173, 178);
}
@media screen and (max-width: 600px) {
  .content {
    height: 22rem;
    width: 15rem;
  }
}
